.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

.header-right {
  display: flex;
  gap: 15px;
  margin-left: 43vh;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.notifications,
.menu {
  font-size: 24px;
}

.exchange-rate-section {
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.exchange-rate-cards {
  display: flex;
  justify-content: space-around;
}
